body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.conteiner{
    margin: 20px 0;
    width: 16%;
}
.cont_butt{
      display: flex;
      justify-content: space-evenly;
}
.timer{
  text-align: center;
  margin: 0;
}
.check{
  text-align: center;
  display: block;
}
